.main {
  margin: 0 20px;
  font-style: normal;
  font-weight: normal;
  .Heading {
    font-size: 24px;
    line-height: 36px;
  }
  .description {
    font-size: 18px;
    line-height: 30px;
  }
}
.social {
  display: flex;
  justify-content: center;
  svg {
    margin: 0 10px;
    margin-bottom: 20px;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 109px;
  padding-top: 30px;

  button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    font-family: "poppins";
  }
  .button1 {
    background: #ff2950;
    color: white;
    margin-right: 32px;
  }
  .button2 {
    background: white;
    border: 2px solid #ff4c29;
    color: #22222280;
  }
}
